*{
    padding: 0;
    margin: 0;
  
}

body{
    font-family: 'Cairo', sans-serif;
}

section{
    background-color: rgb(79, 59, 79);
    /* display: flex;
    flex-wrap: wrap; */
}
.title {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    
}
h2{
    /* background-color: #3a6cf4; */
    padding: 20px;

    transition: 0.7s ease;
   
}

h2 :hover{
    transform: scale(1.1);
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}



.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 7em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img{
    width: 100%
}
.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    color: black;
    box-shadow: #000;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;

}
.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}







@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}











